In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

In [2]:
!gdown 1h86M8si2YT-aI4Zec1MeMP_mPYsLPy5F

Downloading...
From: https://drive.google.com/uc?id=1h86M8si2YT-aI4Zec1MeMP_mPYsLPy5F
To: C:\Users\sunny\Data Science Studies\GitHub_Desktop\DSML Classical Machine Learning 1\emg.rar

  0%|          | 0.00/18.6M [00:00<?, ?B/s]
 14%|#4        | 2.62M/18.6M [00:00<00:00, 24.5MB/s]
 28%|##8       | 5.24M/18.6M [00:00<00:00, 14.1MB/s]
 48%|####7     | 8.91M/18.6M [00:00<00:00, 12.6MB/s]
 85%|########4 | 15.7M/18.6M [00:00<00:00, 23.8MB/s]
100%|##########| 18.6M/18.6M [00:00<00:00, 20.1MB/s]

In [27]:
# !pip install unrar
# !pip install unrar

In [29]:
# x is extract

# !unrar x "./emg.rar" "./"

In [7]:
# list files
# !ls ./EMG\ Physical\ Action\ Data\ Set/sub1/Aggressive/txt/

In [9]:
# !cat ./EMG\ Physical\ Action\ Data\ Set/sub1/Aggressive/txt/Slapping.txt

In [11]:

# actions = {}

# data_dirs = ["./EMG Physical Action Data Set/sub1/Aggressive/txt",
#              "./EMG Physical Action Data Set/sub1/Normal/txt"]

# ind = 0
# data = pd.DataFrame()

# for dirs in data_dirs :

#   for files in os.listdir(dirs):

#     with open(os.path.join(dirs, files), "r") as f:

#       temp = pd.read_csv(f.name,
#                         sep = "\t",
#                         header = None, 
#                         names = ["ch" + str(i) for i in range(1, 9)] # 8 input channels
#                         )
      
#       # chunking using Max of every 10 sequential values.
#       temp_chunked = pd.DataFrame()

#       for i in range(0, len(temp), 10):
#         temp_chunked = temp_chunked.append(temp.iloc[i:i+10].max(), ignore_index = True)

#       labels = [files[:-4] for i in range(len(temp_chunked))] # remove the last 4 characters=".txt" from the filename
#       actions[files[:-4]] = ind

#       temp_chunked["Action"] = labels

#       data = pd.concat([data, temp_chunked])

#       ind+=1

In [5]:
print(actions)

{'Slapping': 0, 'Kneeing': 1, 'Elbowing': 2, 'Sidekicking': 3, 'Headering': 4, 'Frontkicking': 5, 'Pushing': 6, 'Pulling': 7, 'Punching': 8, 'Hamering': 9, 'Seating': 10, 'Hugging': 11, 'Running': 12, 'Standing': 13, 'Handshaking': 14, 'Waving': 15, 'Bowing': 16, 'Jumping': 17, 'Clapping': 18, 'Walking': 19}

In [6]:
data.head()

      ch1     ch2    ch3    ch4     ch5    ch6     ch7     ch8    Action
0     2.0   113.0  129.0   95.0 -1042.0  845.0   -94.0  -407.0  Slapping
1  4000.0   250.0  -54.0  142.0 -2550.0  303.0 -1458.0  1765.0  Slapping
2  2410.0  1516.0  803.0    8.0  3284.0  309.0 -1877.0  1199.0  Slapping
3 -1556.0   876.0  710.0   85.0  4000.0  213.0 -1517.0   646.0  Slapping
4  4000.0   275.0  304.0  137.0  4000.0  180.0   238.0   251.0  Slapping

In [7]:
data.shape

(19711, 9)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19711 entries, 0 to 999
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ch1     19711 non-null  float64
 1   ch2     19711 non-null  float64
 2   ch3     19711 non-null  float64
 3   ch4     19711 non-null  float64
 4   ch5     19711 non-null  float64
 5   ch6     19711 non-null  float64
 6   ch7     19711 non-null  float64
 7   ch8     19711 non-null  float64
 8   Action  19711 non-null  object
dtypes: float64(8), object(1)
memory usage: 1.5+ MB

In [9]:
Y = data["Action"]
X = data.drop(columns = ["Action"])

In [10]:
print(Y.unique())

['Slapping' 'Kneeing' 'Elbowing' 'Sidekicking' 'Headering' 'Frontkicking'
 'Pushing' 'Pulling' 'Punching' 'Hamering' 'Seating' 'Hugging' 'Running'
 'Standing' 'Handshaking' 'Waving' 'Bowing' 'Jumping' 'Clapping' 'Walking']

In [11]:
Y = Y.map(actions)
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Action, dtype: int64

In [13]:
Y.value_counts()

10    1000
9     1000
18    1000
17    1000
15    1000
1     1000
19    1000
4     1000
12     997
16     983
3      983
5      982
0      979
2      978
11     976
13     973
6      968
7      966
8      964
14     962
Name: Action, dtype: int64

In [15]:
X = abs(X)
X.head()

,ch1,ch2,ch3,ch4,ch5,ch6,ch7,ch8
0,2.000000,113.000000,129.000000,95.000000,1042.000000,845.000000,94.000000,407.000000
1,2096.190476,184.761905,33.142857,119.619048,1831.904762,561.095238,808.476190,730.714286
2,2210.906344,671.407855,314.570997,78.815710,38.259819,468.939577,1199.084592,901.900302
3,1130.589097,730.083172,427.976729,80.589313,1174.453782,395.538246,1290.260073,828.510235
4,1818.719431,620.946995,398.245139,94.117492,1852.064667,343.848749,923.759021,690.014103

In [16]:
# moving average. 

X = X.ewm(10).mean()

In [17]:
from sklearn.model_selection import train_test_split

X = np.array(X.values)
Y = np.array(Y.values)

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, shuffle = True, random_state=3)

print(f"Sizes of the sets created are:\nTraining set: {X_train.shape[0]}\nTest set: {X_test.shape[0]}")

Sizes of the sets created are:
Training set: 15768
Test set: 3943

# Decision Tree

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_validate

tree_clf = DecisionTreeClassifier(random_state=7, max_depth = 7, )
cv_acc_results = cross_validate(tree_clf, X_train, Y_train, cv = 5, scoring = 'accuracy', return_train_score = True)

print(f"K-Fold Accuracy Mean: Train: {cv_acc_results['train_score'].mean().round(3)*100} Validation: {cv_acc_results['test_score'].mean().round(3)*100}")

K-Fold Accuracy Mean: Train: 74.1 Validation: 73.6

# RandomForest

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

tree_clf = RandomForestClassifier(random_state=7, max_depth = 7, n_estimators= 100 )
cv_acc_results = cross_validate(tree_clf, X_train, Y_train, cv = 5, scoring = 'accuracy', return_train_score = True)

print(f"K-Fold Accuracy Mean: Train: {cv_acc_results['train_score'].mean().round(3)*100} Validation: {cv_acc_results['test_score'].mean().round(3)*100}")

K-Fold Accuracy Mean: Train: 83.2 Validation: 82.1

# GBDT

In [18]:
from sklearn.ensemble import GradientBoostingClassifier


tree_clf = GradientBoostingClassifier(random_state=7, max_depth = 4, n_estimators= 150, learning_rate = 0.1 )
cv_acc_results = cross_validate(tree_clf, X_train, Y_train, cv = 3, scoring = 'accuracy', return_train_score = True)

print(f"K-Fold Accuracy Mean: Train: {cv_acc_results['train_score'].mean().round(3)*100} Validation: {cv_acc_results['test_score'].mean().round(3)*100}")

K-Fold Accuracy Mean: Train: 100.0 Validation: 94.5